div.result {
  border:1px solid black;
}

div.cell {
  border:1px solid black;
}

textarea.cell {
  font-family: monospace;
}

div.error-cell {
  background-color: pink;
}

div.executedcell {
  border:3px solid lightgreen;
}
